
	
html
	script(src="/resources/jquery-3.1.1.js")
	script(src="/resources/main.js")
	body
		p Hello world
		h2 Big
		form
			input(type="text" name="red" id="red")
			br
			input(type="text" name="green" id="green")
			br
			input(type="text" name="blue" id="blue")
			br
			div(onclick="setlights()") clickme

